{{ define "main" }}
<main class="content">
	{{ range .Data.Pages.ByWeight }}
	{{if not (modBool .Weight 2)}}
	<section class="section has-background-white-bis">
		<div class="container">
			<div class="columns has-equal-heights">
				<div class="column is-5 is-offset-1">
					<div class="section-header is-pulled-right">
						<h2 class="title is-2 is-spaced"> {{ .Title }}
							<span class="spacer is-horizontal is-05"></span>
						</h2>
						<div class="content subtitle is-4">
							{{ .Content }}
						</div>
						<div class="hr spacer is-1"></div>
						</div>
					</div>
					<div class="column is-5 is-offset-1">
						<div class="section-media is-pulled-left aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1000">
							<img class="full-width" role="presentation" src="/img/fees/{{ .Params.imageLink }}" style="border-radius: 50%; max-width:30rem; max-height:15rem;">
						</div>
					</div>
				</div>
			</div>
	</section>
	{{ else }}
	<section class="section">
		<div class="container">
			<div class="columns has-equal-heights">
				<div class="column is-4 is-offset-1">
					<div class="section-media is-pulled-right aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1000">
						<img class="full-width" role="presentation" src="/img/fees/{{ .Params.imageLink }}" style="border-radius: 50%; max-width:30rem; max-height:15rem;">
					</div>
				</div>
				<div class="column is-6 is-offset-1">
					<div class="section-header is-pulled-left">
						<h2 class="title is-2 is-spaced"> {{ .Title }}
							<span class="spacer is-horizontal is-05"></span>
						</h2>
						<div class="content subtitle is-4">
							{{ .Content }}
						</div>
						<div class="hr spacer is-1"></div>
						</div>
					</div>
				</div>
			</div>
	</section>
	{{ end }}
	{{ end }}
</main>
{{ end }}
