{{ define "main" }}
<main class="content">

  <section class="section">

    <div class="container spacer-bottom">
      <div class="columns is-variable has-equal-heights is-8 is-vcentered">
        <div class="column is-6">
          <h1 class="title is-3 text-color-green">Cabinet de thérapies naturelles</h1>
          <h5 class="subtitle text-color-blue">Conseils et soins en Homéopathie, Aromathérapie, Phytothérapie et Réflexologie </h5>
        </div>
        <div class="column is-6">
          {{ partial "cta-btn" . }}
        </div>
      </div>
    </div>

    <div class="container">

      {{ range .Data.Pages.ByWeight }}

        {{ if  .Params.type }}
            {{$i := sub .Weight 1}}
            {{ if modBool $i 3 }}
            <div class="tile is-ancestor">
            {{ end }}
              <div class="tile is-parent is-4">
                  <article class="tile is-child notification
                  {{ if modBool $i 2 }}
                  is-primary
                  {{ else }}
                  is-info
                  {{ end }}
                  " style="max-width: 100%; word-wrap:break-word;">
                    <p class="title">{{ .Title }}</p>
                    <div class="content">
                      {{ .Content }}
                    </div>
                  </article>
              </div>
            {{ if modBool .Weight 3 }}
            </div>
            {{ end }}
            {{ if eq .Params.last "true"}}
            </div>
            {{ end }}

          {{ else }}
          <div class="column">
            <h1 class="title is-3 text-color-green">{{ .Title }}</h1>
            <div class="content is-medium">{{ .Content }}</div>
          </div>
          {{ end }}

	     {{ end }}
    </div>
  </section>

</main>
{{ end }}
