{{ define "main" }}
<main class="section content">
	<div class="container spacer-bottom">
		<div class="columns is-variable has-equal-heights is-8 is-vcentered">
			<div class="column is-6">
				<h1 class="title is-3 text-color-green">Cabinet de thérapies naturelles</h1>
				<h5 class="subtitle text-color-blue">Conseils et soins en Homéopathie, Aromathérapie, Phytothérapie et Réflexologie </h5>
			</div>
			<div class="column is-6">
				{{ partial "cta-btn" . }}
			</div>
		</div>
	</div>
	<div class="columns is-fullheight">
	    <div class="column">
	        <section class="hero is-default is-bold">
	            <div class="hero-body">
	                <div class="container">
											{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "articles") }}

											{{ range $paginator.Pages }}
											{{ .Render "card" }}
											{{ end }}
	                </div>
	                <br>
	                <div class="container">
	                    {{ partial "pagination" . }}
	                </div>
	            </div>
	        </section>
	    </div>

	</div>

</main>
{{ end }}
