{{ define "main" }}
<main class="section content">
  <section class="hero is-primary is-medium">
      <div class="hero-body">
          <div class="container has-text-centered">
              <h1 class="title is-2" itemprop="headline">
                  {{.Title}}
              </h1>
              {{ if .Description }}
              <span itemprop="description">{{ .Description }}</span>
              {{ end }}
          </div>
      </div>
  </section>
  <section class="section blog">
      <div class="container">
        {{ if $.Params.author }}
        <p>
          <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            Article publié le {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
          </time>
          Par
          <author>
            {{ $.Params.author }}
          </author>
        </p>
        {{ end }}
          <div class="columns is-mobile">
              <div class="column">

                  <div class="content blog-post section has-text-justified" itemprop="articleBody" style="padding-top:0;">
                      <hr>
                      {{.Content}}
                  </div>

              </div>
          </div>

          <footer>
              {{ .Render "tags" }}
          </footer>

      </div>
  </section>
</main>
{{ end }}
