@media only screen and (max-width: 1024px) {
	.fees .spacing-3 {
		margin-left: 6rem;
	}
}

@media only screen and (max-width: 992px) {
	.fees .spacing-3 {
		margin-left: 6rem;
	}
}

@media only screen and (max-width: 768px) {

	.fees .spacing-3 {
		margin-left: 3rem;
	}

	.fees .has-text-right,
	.fees .section-media,
	.fees .section-header  {
		text-align: center!important
	}
}

@media only screen and (max-width: 576px) {
	.fees .spacing-3 {
		margin-left: 3rem;
	}
}

@media only screen and (max-width: 340px) {
	.fees .spacing-3 {
		margin-left: 3rem;
	}
}
