.navbar-brand .logo {
	max-height: 75px;
	margin-right: .5rem;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

	.fees .has-text-right,
	.fees .section-media,
	.fees .section-header  {
		text-align: center!important
	}
}

@media only screen and (max-width: 576px) {

	.navbar-brand .logo {
		max-height: 50px;
	}

}

@media only screen and (max-width: 340px) {

}
