.googlemapContainer {
	height: 0;
	overflow: hidden;
	padding-bottom: 100%; /* aspect ratio */
	position: relative;
}

.googlemapFrame {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.fees ul {
	list-style-position: inside;
}
