.googlemapContainer {
	height: 0;
	overflow: hidden;
	padding-bottom: 100%; /* aspect ratio */
	position: relative;
}

.googlemapFrame {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.fees ul {
	list-style-position: inside;
}

.navbar-item::before {
bottom: 0;
content: "";
display: block;
height: 3px;
position: absolute;
transition: all .25s ease-in-out;
width: 0%;
}

.navbar-item.is-active::before {
	opacity: 1;
	width: 80%;
	background-color: #48BFCF
}

.text-color-blue {
	color: #48BFCF !important;
}

.text-color-green {
	color: #7A9E1E !important;
}

a.text-color-green:hover {
	color: #7A9E1E !important;
}

.spacer-bottom {
	margin-bottom: 1rem;
}

.flickity-slider {
  display: flex;
  align-items: center;
}

.blog-post img {
	display: block;
	margin: auto;
	max-height: 75vh;
}

.card-content .subtitle.flow {
	text-align: center;
}

.card-content .subtitle img {
	max-width: 250px;
}

.footer__social__link {
    color: #4a4a4a;
    font-size: 35px;
		margin: 10px;
}

.partner-logo img {
		max-width: 150px;
		margin-left: 20px;
}
