{{ define "main" }}
<main class="section content fees">
	<div class="container spacer-bottom">
		<div class="columns is-variable has-equal-heights is-8 is-vcentered">
			<div class="column is-6">
				<h1 class="title is-3 text-color-green">Cabinet de thérapies naturelles</h1>
				<h5 class="subtitle text-color-blue">Conseils et soins en Homéopathie, Aromathérapie, Phytothérapie et Réflexothérapie </h5>
			</div>
			<div class="column is-6">
				{{ partial "cta-btn" . }}
			</div>
		</div>
	</div>

	<div class="container">
		<iframe width="540"
		src="https://sibforms.com/serve/MUIEAOP93-ruyQCYLpbDsrS9-s5aiXRgxY2YUxzKxjXhRuUG6cKxbV0c1GLvnOjyp7yA_I_19r_sd9ZnBz5DyNlNyGzI0E0Y0OcjtXogq1B85ibmAbLTXJhaSrjRaPgf_kQoS11q8rpkGGEJ9jh-nR9ZQ_kFjA0QEaNMPtbjfJ2jI1-arlmlGXxydkh6kLyP1R5NvDaxod-vxB8E"
		frameborder="0" scrolling="no"
		style="display: block;margin:auto; height:860px"></iframe>
	</div>

  <section class="section">
    <div class="container">
      <div class="columns is-multiline has-equal-heights">
        {{ range .Data.Pages.ByWeight }}
        <div class="column is-half">
          <div class="card">
            <div class="card-content">
                {{ .Content | replaceRE "<p>" "<p class=\"subtitle\">" | safeHTML }}
              <p class="has-text-centered">
                {{ range $i, $sequence :=  (seq .Params.stars) }}
                <span class="icon has-text-warning">
                  <i class="fas fa-star"></i>
                </span>
                {{ end }}
              </p>
              <p class="subtitle has-text-centered">
                {{ .Title }}, {{ .Params.age }}
              </p>
            </div>
          </div>
        </div>
          {{ end }}
      </div>
          <div class="has-text-centered">
            <a class="is-size-5 button is-link" target="_blank" rel="noopener noreferrer" href="https://search.google.com/local/writereview?placeid=ChIJ02Tj8jTpBUgRORt4IBAuPJU">
              Partager votre avis
            </a>
          </div>
    </div>
  </section>

</main>
{{ end }}
