<footer class="footer">
    <address class="footer__contact">
        <p class="footer__contact__item">
            <span><i class="far fa-envelope"></i></span>
            <a href="mailto:agjouannet@gmail.com" class="footer__contact__link" alt="Email">
                agjouannet@gmail.com
            </a>
        </p>

        <p class="footer__contact__item">
            <span><i class="fas fa-phone"></i></span>
            <a href="tel:07 62 82 73 03" class="footer__contact__link" alt="Phone">
                07 62 82 73 03
            </a>
        </p>

        <p class="footer__contact__item">
            <span><i class="fas fa-map-marker-alt"></i></span>
            500, route de Clisson<br/>
            &nbsp;&nbsp; 44120 Vertou, France
        </p>
    </address>

    <div class="copy">
        {{ if $.Site.Params.copy.copy }}
        <p>{{ $.Site.Params.copy.copy }}</p>
        {{ else }}
        <p>© {{ now.Format "2006" }} - {{ $.Site.Title }}</p>
        {{ end }}
    </div>

    {{ partial "scripts.html" . }}
</footer>
