<main class="content">
  <section class="section">
    <div class="container">
      <h1 class="title is-3 text-color-green">Le cabinet de thérapies naturelles</h1>

{{ $items := (where $.Site.RegularPages "Type" "accueil") }}

{{ range $i, $e := $items }}
{{ partial "section.html" .}}

{{ end}}
    </div>
  </section>
  <section class="section has-background-white-bis img-text-right">
    <div class="container">
      <div class="columns is-variable has-equal-heights is-vcentered">
        <div class="column is-flex">
          <div class="section-media">
            <figure class="image" style="max-width: 165px;">
              <img class="is-rounded" src="/img/author/author.jpg">
            </figure>
          </div>
        </div>
        <div class="column">
          <div class="section-header">
            <h2 class="title is-spaced text-color-blue" style="margin-bottom:5px;">Agnès Jouannet
            </h2>
            <h3 class="title is-spaced text-color-blue" style="margin-top:0px;">Naturopathe et Réflexologue
            </h3>
            <div class="content subtitle">
              <ul>
                <li>Praticienne en Homéopathie, certifiée CERFPA</li>
                <li>Praticienne en Aroma-phytothérapie, certifiée CERFPA</li>
                <li>Praticienne en réflexologie méthode Fischmann, certifiée EIR</li>
                <li>Spécialisée en Réflexologie & Nourrisson, certifiée EIR</li>
                <li>Spécialisée en Réflexologie & Maternité, certifiée EIR</li>
                <li>Assistante de formation pour l’EIR-Nantes</li>
              </ul>
            </div>
            </div>
          </div>
          <!--div class="column">
            <div class="carousel"
               data-flickity='{ "autoPlay": true }'>
                <img src="/img/author/cer-01.jpg" alt="Diapo 01" />
                <img src="/img/author/cer-02.jpg" alt="Diapo 02" />
                <img src="/img/author/cer-03.jpg" alt="Diapo 03" />
            </div>
          </div-->
        </div>
      </div>
  </section>
</main>
