<main class="content">
  <section class="section">
    <div class="container">
      <h3 class="title is-3 text-color-green">Le cabinet de thérapies naturelles</h3>

{{ $items := (where $.Site.RegularPages "Type" "sections") }}

{{ range $i, $e := $items }}
{{ partial "section.html" .}}

{{ end}}
    </div>
  </section>
  <section class="section has-background-white-bis img-text-right">
    <div class="container">
      <div class="columns is-variable has-equal-heights is-vcentered">
        <div class="column is-flex">
          <div class="section-media aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1000">
            <figure class="image" style="max-width: 165px;">
              <img class="is-rounded" src="/img/author/author.jpg">
            </figure>
          </div>
        </div>
        <div class="column">
          <div class="section-header">
            <h2 class="title is-spaced text-color-blue">Agnès Jouannet
            </h2>
            <div class="content subtitle">
              <ul>
                <li>Conseillère en Homéopathie</li>
                <li>Conseillère en Aroma-phytothérapie</li>
                <li>En cours de formation Praticienne en réflexothérapie combinée</li>
              </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>
