{{ define "main" }}
<main class="content">

  <section class="section">
    <div class="container">
      <div id="NotifySuccess" class="notification is-success has-text-centered" style="display:none;">
        Merci pour votre message, nous vous recontacterons prochainement! Vous pouvez aussi nous appeler au <a href="tel:07 62 82 73 03" alt="Phone" style="text-decoration: none;">07 62 82 73 03</a>
      </div>
      <h1 class="title is-3 text-color-green" style="margin-top: 0;">Cabinet de thérapies naturelles</h1>
      <h5 class="subtitle text-color-blue">Conseils et soins en Homéopathie, Aromathérapie, Phytothérapie et Réflexothérapie </h5>

      <div class="columns is-variable is-8 has-equal-heights">
        <div class="column is-4">
          <address class="footer__contact has-text-centered	">
              <p class="footer__contact__item">
                  <span><i class="far fa-envelope"></i></span>
                  <a href="mailto:agjouannet@gmail.com" class="footer__contact__link" alt="Email">
                      agjouannet@gmail.com
                  </a>
              </p>

              <p class="footer__contact__item">
                  <span><i class="fas fa-phone"></i></span>
                  <a href="tel:07 62 82 73 03" class="footer__contact__link" alt="Phone">
                      07 62 82 73 03
                  </a>
              </p>

              <p class="footer__contact__item">
                  <span><i class="fas fa-map-marker-alt"></i></span>
                  500, route de Clisson<br/>
                  &nbsp;&nbsp; 44120 Vertou, France
              </p>
          </address>
        </div>
        <div class="column is-4">

      <form action="https://formspree.io/agjouannet@gmail.com" name="contact" method="POST" id="contactForm">

          <div class="field">
            <label class="label">Nom *</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Votre nom" name="Nom">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Email *</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Votre adresse email" name="_replyto">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Sujet *</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Sujet de votre message" name="_subject">
              <span class="icon is-small is-left">
                <i class="fas fa-pen"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Message *</label>
            <div class="control">
              <textarea class="textarea" placeholder="Votre message" name="Message"></textarea>
            </div>
          </div>

          <input type="hidden" name="_language" value="fr" />

          <input type="text" name="_gotcha" style="display:none" />

          <input type="hidden" name="_next" value="/cabinet?success" />


          <div class="field">
            <div class="control has-text-right">
              <input type="submit" value="Envoyer" class="button is-link">
            </div>
          </div>

        </form>

        </div>

        <div class="column is-4">
          <div class="googlemapContainer" id="GglMapContainer">

                <iframe class="googlemapFrame" width="100%" height="100%" frameborder="0" scrolling="no"
                title="Google Maps" aria-label="Google Maps"
                src="https://static.parastorage.com/services/santa/1.6878.2/static/external/googleMap.html?language=fr&amp;lat=47.18664159999999&amp;long=-1.475518500000021&amp;address=500 Route de Clisson, 44120 Vertou, France&amp;addressInfo=Cabinet de thérapies naturelles&amp;showZoom=true&amp;showStreetView=false&amp;showMapType=true">
                </iframe>

          </div>
        </div>
      </div>

      <div class="columns is-variable is-8 has-equal-heights">
          <a class="is-3" target="_blank" rel="noopener noreferrer" href="https://search.google.com/local/writereview?placeid=ChIJ02Tj8jTpBUgRORt4IBAuPJU">
            Write a Review
          </a>

      </div>

      <h3 class="title is-3 text-color-green">Accès au cabinet</h3>
      {{ range .Data.Pages.ByWeight }}

    			<div class="columns has-equal-heights is-vcentered">
            <div class="column is-5">
              <div class="section-media aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1000">
                {{$len := len .Params.imageLink}}
                {{ range .Params.imageLink }}
                  {{ if gt $len 1}}
                <img role="presentation" src="/img/cabinet/{{ index . }}" style="max-width:49%">
                  {{else}}
                <img role="presentation" src="/img/cabinet/{{ index . }}">
                  {{ end }}
                {{ end }}
              </div>
            </div>
    				<div class="column is-7">
    					<div class="section-header">
    						<div class="content subtitle is-4">
    							{{ .Content }}
                  {{ if gt $len 1}}
                  {{ partial "cta-btn" . }}
                  {{ end }}
    						</div>
    						<div class="hr spacer is-1"></div>
    						</div>
    					</div>
    				</div>

	     {{ end }}
    </div>
  </section>

</main>
{{ end }}
