{{ define "main" }}
<main class="content">

  <section class="section container">
    <div class="columns is-variable is-8 has-equal-heights">
      <div class="column is-4">
      </div>
      <div class="column is-4">

        <div class="field">
          <label class="label">Nom *</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Votre nom">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Email *</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Votre adresse email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Sujet *</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Sujet de votre message">
            <span class="icon is-small is-left">
              <i class="fas fa-pen"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Message *</label>
          <div class="control">
            <textarea class="textarea" placeholder="Votre message"></textarea>
          </div>
        </div>

        <div class="field">
          <div class="control is-pulled-right">
            <button class="button is-link">Envoyer</button>
          </div>
        </div>

      </div>
      <div class="column is-4">
        <div class="googlemapContainer" id="GglMapContainer">

              <iframe class="googlemapFrame" width="100%" height="100%" frameborder="0" scrolling="no"
              title="Google Maps" aria-label="Google Maps"
              src="https://static.parastorage.com/services/santa/1.6878.2/static/external/googleMap.html?language=fr&amp;lat=47.18664159999999&amp;long=-1.475518500000021&amp;address=500 Route de Clisson, 44120 Vertou, France&amp;addressInfo=Cabinet de thérapies naturelles&amp;showZoom=true&amp;showStreetView=false&amp;showMapType=true">
              </iframe>

        </div>
      </div>
    </div>
  </section>





    <h1 class="contact__title">{{ .Title }}</h1>
    <p class="contact__content">{{ .Description }}</p>

    {{ if $.Site.Params.form.netlify }}
    <form name="contact" method="POST" data-netlify="true" class="contact__form" id="contactForm">
        {{ else }}
        <form action="{{ $.Site.Params.form.action }}" method="{{ lower $.Site.Params.form.method }}" class="contact__form"
            id="contactForm">
            {{ end }}

            <!-- Name -->
            <div class="contact__field contact__field--name">
                <label for="{{ $.Site.Params.form.inputNameName }}">{{ $.Site.Params.form.inputNameLabel }}</label>
                <input type="text" name="{{ $.Site.Params.form.inputNameName }}" placeholder="{{ $.Site.Params.form.inputNamePlaceholder }}"
                    class="contact__form__input contact__form__name" id="{{ $.Site.Params.form.inputNameName }}"
                    aria-labelledby="{{ $.Site.Params.form.inputNameName }}" required>
            </div>

            <!-- Email -->
            <div class="contact__field contact__field--email">
                <label for="{{ $.Site.Params.form.inputEmailName }}">{{ $.Site.Params.form.inputEmailLabel }}</label>
                <input type="email" name="{{ $.Site.Params.form.inputEmailName }}" placeholder="{{ $.Site.Params.form.inputEmailPlaceholder }}"
                    class="contact__form__input contact__form__email" id="{{ $.Site.Params.form.inputEmailName }}"
                    aria-labelledby="{{ $.Site.Params.form.InputEmailName }}" required>
            </div>

            <!-- Message -->
            <div class="contact__field contact__field--msg">
                <label for="{{ $.Site.Params.form.inputMsgName }}">{{ $.Site.Params.form.inputMsgLabel }}</label>
                <textarea name="{{ $.Site.Params.form.inputMsgName }}" id="{{ $.Site.Params.form.inputMsgName }}" form="contactForm"
                    maxlength="{{ $.Site.Params.form.inputMsgLength }}" id="{{ $.Site.Params.form.inputMsgName }}"
                    arial-labelledby="{{ $.Site.Params.form.InputMsgName }}" required></textarea>
            </div>

            <!-- Submit -->
            <div class="contact__field contact__field--submit">
                <button type="submit" class="ripple-btn submit" onclick="cleanForm" aria-label="{{ $.Site.Params.form.inputSubmitValue }}">
                    {{ $.Site.Params.form.inputSubmitValue }}
                </button>
            </div>

        </form>
</main>
{{ end }}
